@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" span style="color:green">
    <h1 class="display-4">Welcome to the Lehigh Valley Explorer!</h1>
    <h3 class="m-xl">Learn more about things to do in the Lehigh Valley!</h3>
    <a asp-controller="Admin" asp-action="Index" class="btn btn-success">Click Here to Login</a>
</div>
